<div class="panel panel-default">
    <div class="panel-heading"><h1>Editing Pin</h1></div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
    <div class="panel-footer">
        <%= link_to 'Show', @pin %> |
        <%= link_to 'Back', pins_path %>
    </div>
</div>